<div class="container-fluid">
    <div class="row g-5 mt-0 justify-content-evenly">
        {% for assinatura in lista_assinaturas %}
            <article class="card text-center col-12 col-md-3 p-0">
                <header class="card-header h4 text-white fw-semibold p-3">
                    {{ assinatura.nome }}
                </header>
                <div class="card-body">
                    <h5 class="card-title text-success">
                        Apartir de R$ {{ assinatura.preco }}/mês
                    </h5>
                    <ul class="list-unstyled fw-semibold p-2 fs-6">
                        {% for descricao, link in assinatura.descricoes_links %}
                            <li class="m-3">
                                <a href="#" class="link-custom">{{ descricao }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class="card-footer p-3">
                    <!-- Substituímos o botão "Assine Agora" por "Personalize Seu Combo" -->
                    <footer class="card-footer p-3">
                        <a class="p-2 assine-agora fw-bold h5" href="{% url 'combos_personalizados' %}"
                           aria-label="Assine Agora">
                            Personalize Seu Combo
                        </a>
                    </footer>
                </footer>
            </article>
        {% endfor %}
    </div>
</div>



