<div class="dropdown">
    <button class="toggle-theme-btn dropdown-toggle d-flex align-items-center" id="bd-theme"
            type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Alternar tema">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
            <use href="/static/svg/sprite.svg#circle-half"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Alternar tema</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="bd-theme">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em">
                    <use href="/static/svg/sprite.svg#sun-fill"></use>
                </svg>
                Claro
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="/static/svg/sprite.svg#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center"
                    data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em">
                    <use href="/static/svg/sprite.svg#moon-stars-fill"></use>
                </svg>
                Escuro
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="/static/svg/sprite.svg#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active"
                    data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50" width="1em" height="1em">
                    <use href="/static/svg/sprite.svg#circle-half"></use>
                </svg>
                Automático
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="/static/svg/sprite.svg#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>
