<!-- main/templates/main/assine_agora.html -->
{% extends 'base.html' %}

{% block title %}Assine Agora - Rede Virtual Net{% endblock %}

{% block content %}
<h1>Assine Agora</h1>
<p>Escolha o plano que melhor se adapta às suas necessidades e comece a desfrutar dos nossos serviços de internet de alta qualidade.</p>

<!-- Lista de Planos Disponíveis -->
<h2>Planos Disponíveis</h2>
<ul>
    {% for plano in planos %}
        <li>{{ plano.nome }} - {{ plano.get_tipo_display }}</li>
    {% endfor %}
</ul>
{% endblock %}
