{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rede Virtual Net{% endblock %}</title>

    <!-- Theme init -->
    <script src="{% static 'js/theme-init.js' %}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Header -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <!-- Chat -->
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <!-- Hero-Section -->
    <link rel="stylesheet" href="{% static 'css/hero-section.css' %}">

<!-- Hero-Section -->
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">

</head>

<body>

<!-- Header Desktop -->
{% include 'components/header-desktop.html' %}
<!-- Header Mobile -->

<main>
    {% block content %}{% endblock %}
</main>


<!-- Chat Desktop -->
{#{% include 'components/chat_widget.html' %}#}




{% include 'components/footer.html' %}

<!-- Bootstrap Js-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'js/toggle-theme.js' %}"></script>
{#<script src="{% static 'js/chat.js' %}"></script>#}
<script src="{% static 'js/combos_personalizados.js' %}"></script>

</body>

</html>