{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rede Virtual Net{% endblock %}</title>

    <!-- Theme init -->
    <script src="{% static 'js/theme-init.js' %}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <!-- Header -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <!-- Chat -->
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">

    <!-- Hero-Section -->
    <link rel="stylesheet" href="{% static 'css/hero-section.css' %}">

    <!-- Hero-Section -->
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">

    <link rel="stylesheet" href="{% static 'css/servicos.css' %}">

    <!-- No <head> -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

</head>

<body>

<!-- Header Desktop -->
{% include 'components/header-desktop.html' %}
<!-- Header Mobile -->

<main>
    {% block content %}{% endblock %}
</main>


<!-- Chat Desktop -->
{#{% include 'components/chat_widget.html' %}#}

<div class="">
    {% include 'components/footer.html' %}
</div>


<!-- Bootstrap Js-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'js/toggle-theme.js' %}"></script>
{#<script src="{% static 'js/chat.js' %}"></script>#}
<script src="{% static 'js/combos_personalizados.js' %}"></script>


<script src="{% static 'js/scroll-snap.js' %}"></script>


<!-- Antes do fechamento de </body> -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 300, // duração da animação em milissegundos
        once: false,     // animação ocorre apenas uma vez
        mirror: false
    });
</script>
</body>
</html>