{# base.html já deve conter os <head>, scripts, cabeçalhos e rodapés essenciais #}
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Início - Rede Virtual Net{% endblock %}

{% block content %}
    {# CARROSSEL PRINCIPAL #}
    <section id="carousel-section" class="pb-1" data-aos="fade-up" data-aos-delay="100">
        <div id="id-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for item in carousel_images %}
                    <button type="button" data-bs-target="#id-carousel" data-bs-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.counter0 == carousel_is_active %}active{% endif %}"
                            aria-current="{% if forloop.counter0 == carousel_is_active %}true{% endif %}"
                            aria-label="Slide {{ forloop.counter0 }}">
                    </button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for item in carousel_images %}
                    <div class="carousel-item {% if forloop.counter0 == carousel_is_active %}active{% endif %}">
                        <img src="{% static 'img/carrossel/' %}{{ item }}" class="d-block w-100 h-100"
                             alt="Carrossel {{ forloop.counter }}"
                             loading="lazy" data-aos="zoom-in" data-aos-delay="100">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#id-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#id-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span><span
                    class="visually-hidden">Próximo</span>
            </button>
        </div>
    </section>

    {# SEÇÃO DE PLANOS #}
    <section class="container py-5 my-5" data-aos="fade-up" data-aos-delay="100">
        <h2 class="my-3 text-center {{ text_animated }}">Escolha o plano perfeito para você e sua família.</h2>
        <ul class="nav nav-underline justify-content-center card-header fw-semibold h6" id="planTabs"
            role="tablist">
            {% for tipo in tipos %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link card-header {% if forloop.first %}active{% endif %}"
                            id="{{ tipo }}-tab" data-bs-toggle="tab" data-bs-target="#{{ tipo }}" type="button"
                            role="tab" aria-controls="{{ tipo }}"
                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ tipo|capfirst }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="myTabContent">
            {% for tipo in tipos %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ tipo }}"
                     role="tabpanel" aria-labelledby="{{ tipo }}-tab">
                    {% if tipo == 'combos' %}
                        {% include 'index/combos_tag.html' with lista_assinaturas=assinaturas|get_item:tipo %}
                    {% else %}
                        <div class="container-fluid">
                            <div class="row g-5 mt-0 justify-content-evenly">
                                {% for assinatura in assinaturas|get_item:tipo %}
                                    {% if forloop.counter0|divisibleby:3 %}
                                        </div>
                                        <div class="row g-4 mt-0 justify-content-evenly">
                                    {% endif %}
                                    <article class="card text-center col-12 col-md-3 p-0" data-aos="fade-up"
                                             data-aos-delay="150">
                                        <header class="card-header h4 text-white fw-semibold p-3">{{ assinatura.nome }}</header>
                                        <div class="card-body">
                                            <h5 class="card-title text-success">R$ {{ assinatura.preco }}/mês</h5>
                                            <ul class="list-unstyled fw-semibold p-2 fs-6">
                                                {% for descricao, link in assinatura.descricoes_links %}
                                                    <li class="m-1">
                                                        <button class="link-custom btn btn-link fw-semibold"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#{{ link }}">{{ descricao }}</button>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <footer class="card-footer p-3">
                                            <a class="p-2 assine-agora fw-bold h5" href="{% url 'assine_agora' %}"
                                               aria-label="Assine Agora">
                                                Assine Agora
                                            </a>
                                        </footer>
                                    </article>
                                {% endfor %}
                                </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>

    {# SEÇÃO SOBRE NÓS #}
    <section id="sobre-nos" class="py-5 my-5" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="text-center mb-4">
                <h2 class="fw-bold {{ text_animated }}">Conheça nossa empresa e nossos serviços</h2>
                <p class="lead">
                    Na Virtual Net, somos comprometidos em oferecer soluções de conectividade de ponta, telefonia,
                    TV por assinatura e muito mais. Com anos de experiência no mercado, nossa missão é fornecer
                    serviços confiáveis e suporte excepcional para você e sua família ou negócio.
                </p>
                <p class="lead">Descubra como podemos transformar sua experiência digital!</p>
            </div>
        </div>
    </section>

    {# SEÇÃO TV E INTERNET EM FIBRA #}
    {% include 'index/sections/tv-internet-fibra.html' %}

    {# SEÇÃO TV POR ASSINATURA #}
    {% include 'index/sections/tv-assinatura.html' %}

    {# SEÇÃO TELEFONIA #}
    {% include 'index/sections/telefonia.html' %}

    {# SEÇÃO TELMEDICINA #}
    {% include 'index/sections/telmedicina.html' %}

    {# SEÇÃO SOLUÇÕES CORPORATIVAS #}
    {% include 'index/sections/corporativas.html' %}

    {# SEÇÃO SOBRE O CLIENTE #}
    <section id="sobre-cliente" class="py-5 my-5" data-aos="fade-up" data-aos-delay="100">
        <div class="container p-4">
            <h2 class="text-center fw-bold mb-4 {{ text_animated }}">Nossa Prioridade é Você</h2>
            <p class="text-center fs-5 mb-4">Na VirtualNet, cada cliente é único. Oferecemos soluções
                personalizadas,
                atendimento excepcional e serviços que realmente fazem a diferença no seu dia a dia.</p>
            <div class="row text-center">
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'img/atendimento/atendente.jpg' %}" alt="Atendente"
                             class="m-1 border-cyan" width="380"
                             loading="lazy">
                        <h5 class="mt-3 fw-bold {{ text_animated }}">Suporte 24/7</h5>
                        <p class="fs-6">Sempre prontos para suas dúvidas e resolução de problemas.</p>
                        <a href="{% url 'suporte_tecnico' %}" class="btn assine-agora mb-3">Fale Conosco</a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'img/atendimento/qualidade.jpg' %}" alt="Qualidade"
                             class="m-1 border-cyan" width="380"
                             loading="lazy">
                        <h5 class="mt-3 fw-bold {{ text_animated }}">Qualidade Garantida</h5>
                        <p class="fs-6">Serviços projetados para oferecer a melhor experiência.</p>
                        <a href="{% url 'suporte_tecnico' %}" class="btn assine-agora mb-3">Saiba Mais</a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="zoom-in" data-aos-delay="400">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'img/atendimento/relacionamento.jpg' %}" alt="Relacionamento"
                             class="m-1 border-cyan"
                             width="380" loading="lazy">
                        <h5 class="mt-3 fw-bold {{ text_animated }}">Relacionamento Próximo</h5>
                        <p class="fs-6">Valorizamos cada cliente, criando conexões reais e duradouras.</p>
                        <a href="{% url 'suporte_tecnico' %}" class="btn assine-agora mb-3">Conheça a VirtualNet</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# SEÇÃO LOCALIZAÇÃO #}
    <section class="py-5 my-5" id="localizacao" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row mb-1">
                <div class="col-12 text-center">
                    <h2 class="fw-bold {{ text_animated }}">Onde Estamos</h2>
                    <h6>Visite nossas unidades, será um prazer recebê-lo!</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h4 class="fw-bold text-center {{ text_animated }}">Matriz (Matrix)</h4>
                    <p class="text-center fs-6">
                        Estrada do Jathay, 330<br>
                        Vila Nossa Sra. Aparecida, Carapicuíba - SP, 06390-180<br>
                        <strong>Telefone:</strong> (11) 41818381<br>
                        <strong>Horários:</strong> Seg-Sex: 9h-18h | Sáb: 9h-13h
                    </p>
                    <div class="ratio ratio-16x9 border-cyan">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1828.8758529196143!2d-46.85271593034627!3d-23.541431198675852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf01b17bfaa94b%3A0x79f8f6cd65ac19be!2sRede%20Virtual%20Net%20-%20Fibra%20%C3%B3ptica!5e0!3m2!1spt-BR!2sus!4v1737057705454!5m2!1spt-BR!2sus"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h4 class="fw-bold text-center {{ text_animated }}">Loja Lambari</h4>
                    <p class="text-center fs-6">
                        Rua Tiradentes, 122<br>
                        Lambari - MG, 37480-000<br>
                        <strong>Telefone:</strong> (11) 41818381<br>
                        <strong>Horários:</strong> Seg-Sex: 9h-18h | Sáb: 9h-13h
                    </p>
                    <div class="ratio ratio-16x9 border-cyan">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.9678336125876!2d-45.350577423612016!3d-21.974197579922407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb19a672063273%3A0x7ab66b8ff6cfc9b2!2sR.%20Tiradentes%2C%20122%2C%20Lambari%20-%20MG%2C%2037480-000!5e0!3m2!1spt-BR!2sbr!4v1737057991070!5m2!1spt-BR!2sbr"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h4 class="fw-bold text-center {{ text_animated }}">Loja Jesuânia</h4>
                    <p class="text-center fs-6">
                        Rua Luiz Alves da Silva, 92B<br>
                        Jesuânia - MG, 37485-000<br>
                        <strong>Telefone:</strong> (11) 41818381<br>
                        <strong>Horários:</strong> Seg-Sex: 9h-18h | Sáb: 9h-13h
                    </p>
                    <div class="ratio ratio-16x9 border-cyan">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d924.8401170893276!2d-45.29089933034837!3d-21.997495098744075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb3d5aaef8ada1%3A0x98defbbe2acef2ea!2sR.%20Lu%C3%ADs%20Alves%20da%20Silva%2C%2072%20-%20Jesuania%2C%20Jesu%C3%A2nia%20-%20MG%2C%2037485-000!5e0!3m2!1spt-BR!2sbr!4v1737058325473!5m2!1spt-BR!2sbr"
                                style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# Incluindo os modais dinâmicos #}
    {% for modal in modals %}
        {% include 'index/modal.html' with id=modal.id_modal title=modal.title body=modal.body %}
    {% endfor %}

{% endblock %}



