{% load static %}
{% load custom_filters %}
<section id="tv-internet-fibra" class="py-5 my-5" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-right" data-aos-delay="150">
                {% include "index/carrossel_servicos.html" with carousel_id="id-internet" carousel_items=carousel_internet carousel_int_is_active=carousel_int_is_active img_base_path="img/servicos/internet/" %}
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-delay="150">
                <h2 class="{{ text_animated }} text-center my-4">Sua internet voando com a fibra óptica!</h2>
                <p class="text-center mb-4 fs-6">Experimente a internet mais rápida da região com nossa fibra
                    óptica
                    de última geração. Navegue, jogue online e faça streaming sem interrupções.</p>
                <h5 class="fw-semibold text-center mb-3">Aproveite os benefícios da fibra óptica:</h5>
                <ul class="text-center list-unstyled ps-3 mb-4 fs-6">
                    <li>✔️ Velocidade e estabilidade superiores</li>
                    <li>✔️ Maior segurança para seus dados</li>
                    <li>✔️ Ideal para jogos online, streaming e home office</li>
                    <li>✔️ Diferentes velocidades para atender às suas necessidades</li>
                    <li>✔️ Suporte online 24 horas por dia, 7 dias por semana</li>
                </ul>
                <div class="p-2">
                    <p class="lead text-center">Viva uma experiência completa de entretenimento com a Virtual
                        Net.</p>
                    <div class="d-flex justify-content-around flex-wrap mt-3">
                        <div class="btn p-1 m-1 d-flex flex-column align-items-center border-cyan"
                             data-aos="zoom-in" data-aos-delay="200">
                            <img class="img-fluid" src="{% static 'img/servicos/app-fibra/seguranca.jpg' %}"
                                 alt="Fibra Segurança" width="82" height="82" loading="lazy">
                        </div>
                        <div class="btn p-1 m-1 d-flex flex-column align-items-center border-cyan"
                             data-aos="zoom-in" data-aos-delay="300">
                            <img class="img-fluid" src="{% static 'img/servicos/app-fibra/gamer-2.jpg' %}"
                                 alt="Experiência Gamer" width="82" height="82" loading="lazy">
                        </div>
                        <div class="btn p-1 m-1 d-flex flex-column align-items-center border-cyan"
                             data-aos="zoom-in" data-aos-delay="400">
                            <img class="img-fluid" src="{% static 'img/servicos/app-fibra/velocidade-1.jpg' %}"
                                 alt="Velocidade Internet" width="82" height="82" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>