    @keyframes fillAnimation2 {
      0%, 50% {
        fill: #d3d3d3;
      }
      75%, 100% {
        fill: #ff9800;
      }
    }

    .wifi-signal-2 {
      animation: fillAnimation2 1s infinite ease-in-out;
    }

    @keyframes fillAnimation3 {
      0%, 75% {
        fill: #d3d3d3;
      }
      100% {
        fill: #ff9800;
      }
    }

    .wifi-signal-3 {
      animation: fillAnimation3 1s infinite ease-in-out;
    }

    @keyframes fillAnimation4 {
      0%, 90% {
        fill: #d3d3d3;
      }
      100% {
        fill: #ff9800;
      }
    }

    .wifi-signal-4 {
      animation: fillAnimation4 1s infinite ease-in-out;
    }